@page "/fetchdata"
@using BlazorApp.Shared
@using System.IO;

@inject HttpClient Http

<h1>Weather forecast</h1>

<p>This component demonstrates fetching data from the server.</p>



@if (forecasts == null)
{
    <p><em>Loading...</em></p>
    <button onclick="ExportarCSV">Exportar a CSV</button>
    <button @onclick="ActuGrilla">Actualiza grila</button>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nombre</th>
                <th>Apellido</th>

            </tr>
        </thead>
        <tbody>
            @foreach (var forecast in forecasts)
            {
                <tr>
                    <td>@forecast.Id.ToString()</td>
                    <td>@forecast.Nombre</td>
                    <td>@forecast.Apellido</td>

                </tr>
            }
        </tbody>

    </table>
    <button onclick="ExportarCSV">Exportar a CSV</button>
    <button @onclick="ActuGrilla">Actualiza grila</button>
}

@code
{

    PersonasModel[] forecasts;

    protected override async Task OnInitializedAsync()
    {
        forecasts = await Http.GetJsonAsync<PersonasModel[]>("WeatherForecast");
    }

    private void ExportarCSV()
    {
        using (var memoryStream = new MemoryStream())
        {

        }
    }
    protected async Task ActuGrilla()
    {

        forecasts = await Http.GetJsonAsync<PersonasModel[]>("WeatherForecast");
    }

}
